input.error {
    border: 1px dotted red;
}

label.error {
    font-size: 10px;
    color: yellow;
}

.logo-ranking {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.text-header {
    color: #f37125;
    text-transform: uppercase;
    font-weight: 900;
    padding-bottom: 2rem;
}

.text-header h1 {
    font-size: 3.3rem;
    font-weight: 900;
}

.text-header h2 {
    font-size: 2.5rem;
    font-weight: 800;
}
img.img-sachoolrank {
    margin-bottom: 1rem;
}
.text-header h4 {
    font-style: italic;
    padding: 1.5rem;
    font-size: 2rem;
}

.tab-pane {
    background: #004f9e;
}

.nav-link.active {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-color: darkslateblue !important;
}


ul.nav.nav-tabs {
    background: rgba(208, 210, 211, 0.5);
}

form {
    padding: 1.5rem;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], textarea {
    font-size: 16px;
}

/*.form-control {*/
/*    font-size: 1.3rem;*/
/*}*/

option {
    font-size: 16px;
}

li.nav-item {
    width: 33.33%;
    text-align: center;
    background: white;
}

a.nav-link {
    display: block;
    background: rgba(208, 210, 211, 0.5);
    text-align: center;
    color: #231f20;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

a.nav-link.active {
    background: darkslateblue !important;
    color: #ffffff !important;
    /* height: 46px; */
    font-weight: bold;
}

label {
    color: white;
    font-weight: bold;
    /*font-size: 1.5rem;*/
}

/*form#form_2 {*/
/*    opacity: 0.6;*/
/*}*/

.tab-content h4 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 1.5rem;
    /*font-size: 2.5rem;*/
}

ul.info {
    margin: 2rem 0 1rem 0;
}

ul.info li {
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
}

ul.tin_tuc li {
    font-style: italic;
    font-weight: 500;
    color: #f37125;
    font-size: 1.4rem;
}

ul.tin_tuc {
    margin-bottom: 2rem;
}

.footer {
    height: 4rem;
    background: #004f9e;
}

div#confirm_phone, div#myModal, div#modal_thpt, #mainpopup, #login_test {
    padding-top: 5%;
}

#login_test {
    padding-top: 15%;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.register-box {
    padding: 1rem;
    border: 1px solid #cccc;
    margin: 4rem;
    height: 9rem;
    border-radius: 1rem;
}

button.btn.btn-submit {
    background: darkorange;
    width: 14rem;
    border-radius: 2rem;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 1rem;
}

.register-box h4 {
    font-size: 2rem;
    font-weight: bold;
}

.first_col {
    border-right: 1px solid white;
}

#myModal h4, #modal_thpt h4 {
    font-size: 2rem;
}

div#myModal h3 {
    font-size: 2.5rem;
}

div#confirm_phone h4 {
    font-size: 2rem;
    text-align: center;
    margin: 1rem;
}

div#myModal h5, #modal_thpt h5 {
    font-size: 1.5rem;
}

#myModal .modal-content, #modal_thpt .modal-content {
    background-image: url('images/bg_popup_ranking.png');
    background-size: cover;
    color: white;
    border-radius: 20px;
}

#myModal img, #modal_thpt img {
    width: 200px;
    border-radius: 20px;
    margin-left: 65px;
}

strong#top_user {
    font-size: 2.5rem;
}

@media only screen and (max-width: 450px) {
    .text-header h2 {
        font-size: 1.8rem;
    }

    .text-header h4 {
        font-size: 1.5rem;
    }
    .text-header h1 {
        font-size: 2.5rem;
    }
    .img-sachoolrank {
        max-width: 350px;
    }
}

#mainpopup .modal-dialog {
    max-width: 692px;
}

#mainpopup .modal-content {
    width: 692px;
    /*height: 513px;*/
    background: url('../images/Landingpage-Tracuu-xephangdiem-popup-bg.png') no-repeat;
    background-size: 100%;
    border-radius: 35px;
    background-position: center;
    background-color: #ec7313;
}

.logo-popup {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
}

.line1-popup {
    color: #ffffff;
    font-size: 25px;
    text-align: center;
}

.line2-popup {
    color: #eaff0a;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.boxmain-popup {
    position: relative;
    max-width: 378px;
    margin: 0 auto;
    padding-top: 56px;
    padding-bottom: 90px;
}

.line1-boxmain-popup.line1 {
    font-size: 40px;
    font-weight: 800;
}

.boxmain-popup:before {
    content: '';
    background: url('../images/Landingpage-Tracuu-xephangdiem-aw.png') no-repeat;
    width: 119px;
    height: 199px;
    position: absolute;
    top: 0;
    left: -79px;
}

.boxmain-popup:after {
    content: '';
    background: url('../images/Landingpage-Tracuu-xephangdiem-aw.png') no-repeat;
    width: 119px;
    height: 199px;
    position: absolute;
    top: 0;
    right: -79px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.line1-boxmain-popup {
    color: #eaff0a;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.line1-boxmain-popup span {
    font-size: 75px;
    font-weight: bold;
    padding: 0 13px 0 0;
    position: relative;
    top: -5px;
}

.line2-boxmain-popup {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

.line3-boxmain-popup {
    text-align: center;
    font-size: 20px;
    color: #ffffff;
}

.line1-bottom-popup {
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}

.line2-bottom-popup {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
}

.ket_qua {
    margin: 30px 30px 15px 30px;
    color: white;
}

.ket_qua h4 {
    font-size: 18px;
    text-align: center;
    color: yellow;
    margin-bottom: 10px;
}

.ket_qua h5 {
    font-size: 11px;
    margin: 2px;
    font-weight: 300;
}

.closepopup {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
}

.closepopup:hover {
    opacity: 1;
}

@media only screen and (max-width: 576px) {
    #mainpopup .modal-content {
        max-width: 100%;
        height: auto;
    }

    .logo-popup img {
        width: 100px;
        height: auto;
    }

    .line1-popup {
        font-size: 14px;
        font-weight: bold;
        padding-top: 15px;
    }

    .line2-popup {
        font-size: 21px;
    }

    .line1-boxmain-popup {
        font-size: 13px;
    }

    .line1-boxmain-popup span {
        font-size: 26px;
        padding-right: 5px;
        top: 0;
    }

    .line1-boxmain-popup.line1 {
        /*font-size: ;*/
    }

    .line2-boxmain-popup {
        font-size: 12px;
    }

    .line3-boxmain-popup {
        font-size: 13px;
    }

    .boxmain-popup {
        max-width: 300px;
        margin: 0 auto;
        padding-top: 3px;
        padding-bottom: 14px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .line1-boxmain-popup.line1 {
        font-size: 20px;
        font-weight: 600;
    }

    .line1-bottom-popup {
        font-size: 11px;
        margin-top: 15px;
    }

    .first_col {
        border: none;
    }

    .line2-bottom-popup {
        font-size: 12px;
    }

    .logo-popup {
        margin-bottom: 0;
    }

    .logo-popup {
        padding-top: 0;
    }

    .boxmain-popup:before {
        background-size: 100%;
        width: 45px;
        height: 83px;
        top: -22px;
        left: -55px;
    }

    .boxmain-popup:after {
        background-size: 100%;
        width: 45px;
        height: 83px;
        top: -22px;
        right: -55px;
    }

    .ket_qua h4 {
        font-size: 14px;
    }

    .ket_qua h5 {
        font-size: 10px;
    }

    .ket_qua .col-2 {
        padding-right: 0px;
        padding-left: 0px;
    }
    a.nav-link {
        font-size: 11px;
        height: 75px;
    }
}